* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #bf4d28;
}

.container {
    background: #655643;
    color: #f6f7bd;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.container__title {
    font-size: 4em;
}

.container__text {
    font-size: 2em;
}